<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Author: David Garcia.
  Github:
  <a href="https://github.com/davitomix" target="_blank">@davitomix</a>.
  Linkedin:
  <a href="https://www.linkedin.com/in/david-eli-martinez-garcia-3b659518b" target="_blank">David Garcia</a>.
</p>
