<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <% if current_user.posts.any? %>
        <ol class="microposts">
          <%= render @feed_items %>
        </ol>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Members Only</h1>

    <h2>
      The place where you can write embarrassing posts
      about something without care anybody can see you are the author,
      unless they sign up.<br><br>
      This is the Members Only Project for <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication" target="_blank">The Odin Project</a>.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
