<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% provide(:title, @user.name) %>
    <h1>
      User
    </h1>
    <p>
      <%= @user.name %>
    </p>
    <p>
      <%= @user.email %>
    </p>
  </div>
</div>
