<% provide(:title, 'Edit Post') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update Post</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/post_form' %>
  </div>
</div>
