<% provide(:title, 'Posts') %>
<h1>All posts</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= will_paginate @posts %>
      <% @posts.each do |post| %>
        <ol class="microposts">
          <%= render post %>
        </ol>
      <% end %>
    <%= will_paginate @posts %>
  </div>
</div>
