<% provide(:title, 'New Post') %>
<% provide(:button_text, 'Create post') %>
<h1>New Post</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form_post' %>
  </div>
</div>
