<% provide(:title, 'Post') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <strong>
        <h2>
          Content:
        </h2>
      </strong>
      <%= @post.content %>
    </p>
    <p>
      <% if logged_in? %>
        <strong>
          User name:
        </strong>
        <%= @post.user.name %>
      <% end %>
    </p>
  </div>
</div>
